<h1>Book detail</h1>
<%= form_with modele: @book, url: books_path(@book), method: :patch do |f| %>
  <label for="book_title">Title</label>
  <%= f.text_field :title, value: @book.title %>
  <label fot="book_opinion">Opinion</label>
  <%= f.text_area :body, value: @book.body %>
  <%= f.submit "Update Book" %>
<% end %>
<%= link_to "show", book_path %>
|
<%= link_to "Back", books_path %>
