<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/eea0cb5b59.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <nav>
          <ul class="nav-list">
            <li class="nav-list-item">
              <%= link_to "Bookers", root_path %>
            </li>
            <li class="nav-list-item">
              <%= link_to user_path(current_user) do %>
                <i class="fa-solid fa-house" style="color: #ffffff;"></i>Home
              <% end %>
            </li>
            <li class="nav-list-item">
              <%= link_to users_path do %>
                <i class="fa-solid fa-users" style="color: #ffffff;"></i>Users
              <% end %>
            </li>
            <li class="nav-list-item">
              <%= link_to books_path do %>
                <i class="fa-solid fa-book-open" style="color: #ffffff;"></i>Books
              <% end %>
            </li>
            <li class="nav-list-item">
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa-solid fa-right-from-bracket" style="color: #ffffff;"></i>Log out
              <% end %>
            </li>
          <% else %>
            <li class="nav-list-item">
              <%= link_to "Bookers", root_path %>
            </li>
            <li class="nav-list-item">
              <%= link_to root_path do %>
                <i class="fa-solid fa-house" style="color: #ffffff;"></i>Home
              <% end %>
            </li>
            <li class="nav-list-item">
              <%= link_to about_path do %>
                <i class="fa-solid fa-link" style="color: #ffffff;"></i>About
              <% end %>
            </li>
            <li class="nav-list-item">
              <%= link_to new_user_registration_path do %>
                <i class="fa-solid fa-user-plus" style="color: #ffffff;"></i>Sign up
              <% end %>
            </li>
            <li class="nav-list-item">
              <%= link_to new_user_session_path do %>
                <i class="fa-solid fa-right-to-bracket" style="color: #ffffff;"></i>Log in
              <% end %>
            </li>
          </ul>
        </nav>
      <% end %>
    </header>

    <%= yield %>

    <foot>
      <p style="text-align: center">CopyRight Infratop.inc</p>
    </foot>
  </body>
</html>
